<% unless current_user?(usera) %>
	<div id="follow_form">
		<% if current_user.following?(usera) %>
			<%= render "users/unfollow", user: usera %>
		<% else %>
			<%= render "users/follow", user: usera %>
		<% end %>
	</div>
<% end %>
